.panel_container {
  width: 100%;
  padding: 16;
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  height: 100%;
  border: black solid 1px;
  border-radius: 8px;
  justify-content: center;
}
.panel_container > h2 {
  font-family: "Cinzel";
  text-align: center;
  height: 90px;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
}
.card_container:nth-child(3) .panel_container > h2 {
  font-size: 1.28rem;
}

.panel_container > p {
  font-family: "Lora";
  text-align: left;
  margin: 24px 8px 0 8px;
  font-size: large;
  padding: 8px;
}

.card {
  height: 480px;
  width: 280px;
  background-color: #e7d6b8;
  list-style: none;
  user-select: none;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: 16px 32px;
  border-radius: 8px;
  position: absolute;
  will-change: transform, opacity;
}

.front,
.back {
  user-select: none;
  background-color: #e7d6b8;
  height: 480px;
  width: 280px;
  padding: 12px;
  border-radius: 8px;
  backface-visibility: hidden;
}

.container {
  height: 500px;
  width: 300px;
  list-style: none;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0px 32px;
  align-items: center;
}

@media (max-width: 1100px) {
  .card {
    height: 336px;
    width: 196px;
  }
  .back,
  .front {
    height: 336px;
    width: 196px;
  }
  .panel_container > h2 {
    font-size: 1.2em;
  }
  .panel_container > p {
    margin: 8px 8px 0 8px;
    font-size: 0.9em;
  }
  .container {
    height: 356px;
    width: 216px;
  }
}
@media (max-width: 768px) {
  .card_container {
    margin: 24px 0;
  }
  .container {
    margin: 16px 0;
  }
}
